.grid {     
    display: grid;     
    grid-template-columns: 
    repeat(4, 100px); /* 4 колонки по 100 пикселей */     
    grid-template-rows: repeat(4, 100px); /* 4 строки по 100 пикселей */ 
}  

.cell {     
    border: 1px solid black; /* Граница для клеток */     
    display: flex;     
    align-items: center; /* Центрирование содержимого по вертикали */     
    justify-content: center; /* Центрирование содержимого по горизонтали */ 
}  

.player {     
    width: 80px; /* Установка ширины изображения игрока */     
    height: auto; /* Автоматическая высота */ 
} 